body {
    background-color: rgb(14, 13, 17);
}

.lantern {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

#lantern1 {
    width: 4in;
    height: 4in;
}

#lantern2 {
    opacity: 0.5;
    width: 3in;
    height: 3in;
}

#lantern3 {
    opacity: 0.25;
    width: 2in;
    height: 2in;
}

.floating {   
    animation-name: floating; 
    animation-duration: 6s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px; 
} 
  
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
} 

.text {
    color: aliceblue;
}

#coin {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#ox {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
}
}